/* || HOST FONTS */
@font-face {
  font-family: 'ubuntu';
  font-weight: 700;
  src:
    url('./assets/fonts/ubuntu-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/ubuntu-bold-webfont.woff') format('woff');
  font-display: swap;
}

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: inline-block;
  max-width: 100%;
}
p,
h1,
h2,
input,
button {
  font: inherit;
  overflow-wrap: break-word;
}

/* || GENERAL STYLES */
body {
  font-family:
    'ubuntu',
    system-ui,
    -apple-system,
    'Segoe UI',
    'Helvetica Neue',
    Arial;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--accent);
}
